
    <!DOCTYPE html>
    <html lang="en">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <head>
        <meta name="viewport" content="width=device-width" />
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE-edge" />
        <meta name="viewport" content="width=device-width, initial-scale:1.0" />
        <title>Menu</title>
        <!--link-->
        <link rel="stylesheet" href="/ecom/css/style.css" />
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>


    <body>
        <header>
            <!--nav-->
            <div class="nav container">
                <a href="#" class="logo">Sipariş Ver</a>
                <!--cart icon-->
                <i class='bx bx-shopping-bag' id="cart-icon"></i>
                <div class="cart">
                    <h2 class="cart-title">Sepetin</h2>
                    <!--content-->
                    <div class="cart-content">
                        <!--<div class="cart-box">
    <img src="~/banzhow/img/kahvalti.jpg" / alt="" class="cart-img">
    <div class="detail-box">
        <div class="cart-product-title">Earbuds</div>
        <div class="cart-price">₺25.04</div>
        <input type="number" value="1" class="cart-quantity" />
    </div>-->
                        <!--remove cart-->
                        <!--<i class='bx bxs-trash-alt cart-remove'></i>
    </div>-->
                    </div>
                    <!--total-->
                    <div class="total">
                        <div class="total-title">Toplam</div>
                        <div class="total-price">₺ 0</div>
                    </div>
                    <!--buy button-->
                    <button type="button" class="btn-buy">Sepeti Onayla</button>
                    <!--cart close-->
                    <i class='bx bx-x' id="close-cart"></i>




                </div>
            </div>
        </header>
        @*<div class="list">
            <ul class="nav nav-tabs nav-stacked" id="cat_nav">
                    <li>
                        <a class="menu-item menu-detail-item" style="color:white !important;" href="~/Views/Home/Kahvaltı.cshtml">KAHVALTI</a>
                    </li>
                    <li>
                        <a class="menu-item menu-detail-item" style="color:white !important;" href="~/Views/Home/Baslangiclar.cshtml">BAŞLANGI&#199;</a>
                    </li>
                    <li>
                        <a class="menu-item menu-detail-item" style="color:white !important;" href="corba.html">&#199;ORBA</a>
                    </li>
                    <li>
                        <a class="menu-item menu-detail-item" style="color:white !important;" href="atistirmalik.html">ATIŞTIRMALIK</a>
                    </li>
                    <li>
                        <a class="menu-item menu-detail-item" style="color:white !important;" href="salata.html">SALATA</a>
                    </li>
                    <li>
                        <a class="menu-item menu-detail-item" style="color:white !important;" href="dolu-dolu-kase.html">DOLU DOLU KASE</a>
                    </li>
                    <li>
                        <a class="menu-item menu-detail-item" style="color:white !important;" href="sokak-lezzetleri.html">SOKAK LEZZETLERİ </a>
                    </li>
                    <li>
                        <a class="menu-item menu-detail-item" style="color:white !important;" href="burger.html">BURGER</a>
                    </li>
                    <li>
                        <a class="menu-item menu-detail-item" style="color:white !important;" href="pizza.html">PİZZA</a>
                    </li>
                    <li>
                        <a class="menu-item menu-detail-item" style="color:white !important;" href="manti.html">MANTI</a>
                    </li>
                    <li>
                        <a class="menu-item menu-detail-item" style="color:white !important;" href="afyonkarahisar.html">AFYONKARAHİSAR</a>
                    </li>
                    <li>
                        <a class="menu-item menu-detail-item" style="color:white !important;" href="makarna.html">MAKARNA</a>
                    </li>
                    <li>
                        <a class="menu-item menu-detail-item" style="color:white !important;" href="tavuk.html">TAVUK</a>
                    </li>
                    <li>
                        <a class="menu-item menu-detail-item" style="color:white !important;" href="et.html">ET</a>
                    </li>
                    <li>
                        <a class="menu-item menu-detail-item" style="color:white !important;" href="kofte.html">K&#214;FTE</a>
                    </li>
                    <li>
                        <a class="menu-item menu-detail-item" style="color:white !important;" href="fajita.html">FAJITA </a>
                    </li>
                    <li>
                        <a class="menu-item menu-detail-item" style="color:white !important;" href="biraz-da-denizden.html">BİRAZ DA DENİZ&#39;DEN</a>
                    </li>
                    <li>
                        <a class="menu-item menu-detail-item" style="color:white !important;" href="bigchefsin-ozel-lezzetleri.html">BIGCHEFS&#39;İN &#214;ZEL LEZZETLERİ</a>
                    </li>
                    <li>
                        <a class="menu-item menu-detail-item" style="color:white !important;" href="vegan.html">VEGAN </a>
                    </li>
                    <li>
                        <a class="menu-item menu-detail-item" style="color:white !important;" href="tatli.html">TATLI</a>
                    </li>
                    <li>
                        <a class="menu-item menu-detail-item" style="color:white !important;" href="kahve.html">KAHVE</a>
                    </li>
                    <li>
                        <a class="menu-item menu-detail-item" style="color:white !important;" href="cocuk-menu.html">&#199;OCUK MEN&#220;</a>
                    </li>
            </ul>
        </div>*@
    @*<div class="kapsayici" style="display:flex; justify-content:flex-start">
        <div style="box-sizing: border-box; width: 200px; margin-top: 8rem; display: flex; justify-content: flex-start; list-style-type: none;">
            <ul style="list-style-type: none; padding: 0; margin: 0; border: 2px solid #fff; width:180px;">
                <li style=" border: 1px solid #fff; margin-top: -1px; /* Prevent double borders */ background-color: tomato; padding: 12px;"><a href="https://localhost:44334/Home/Kahvalt%C4%B1">1Kahvaltı</a></li>
                <li style=" border: 1px solid #fff; margin-top: -1px; /* Prevent double borders */ background-color: tomato; padding: 12px;"><a href="https://localhost:44334/Home/Baslangiclar">1Kahvaltı</a></li>
                <li style=" border: 1px solid #fff; margin-top: -1px; /* Prevent double borders */ background-color: tomato; padding: 12px;"><a href="#">1Kahvaltı</a></li>
                <li style=" border: 1px solid #fff; margin-top: -1px; /* Prevent double borders */ background-color: tomato; padding: 12px;"><a href="#">1Kahvaltı</a></li>
                <li style=" border: 1px solid #fff; margin-top: -1px; /* Prevent double borders */ background-color: tomato; padding: 12px;"><a href="#">1Kahvaltı</a></li>
                <li style=" border: 1px solid #fff; margin-top: -1px; /* Prevent double borders */ background-color: tomato; padding: 12px;"><a href="#">1Kahvaltı</a></li>
                <li style=" border: 1px solid #fff; margin-top: -1px; /* Prevent double borders */ background-color: tomato; padding: 12px;"><a href="#">1Kahvaltı</a></li>
                <li style=" border: 1px solid #fff; margin-top: -1px; /* Prevent double borders */ background-color: tomato; padding: 12px;"><a href="#">1Kahvaltı</a></li>
                <li style=" border: 1px solid #fff; margin-top: -1px; /* Prevent double borders */ background-color: tomato; padding: 12px;"><a href="#">1Kahvaltı</a></li>
                <li style=" border: 1px solid #fff; margin-top: -1px; /* Prevent double borders */ background-color: tomato; padding: 12px;"><a href="#">1Kahvaltı</a></li>
                <li style=" border: 1px solid #fff; margin-top: -1px; /* Prevent double borders */ background-color: tomato; padding: 12px;"><a href="#">1Kahvaltı</a></li>
                <li style=" border: 1px solid #fff; margin-top: -1px; /* Prevent double borders */ background-color: tomato; padding: 12px;"><a href="#">1Kahvaltı</a></li>

            </ul>
        </div>*@
        @RenderBody();
    </div>
        <!--link to js-->
        <script src="/ecom/js/main.js"></script>

    </body>

</html>
